* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*color: #6c6b6b;*/
}

main{
  width: 960px;
  margin: 50px auto;
}

.list {
  list-style: none;
  margin-bottom: 50px;
}

.list-item {
  padding: 20px;
  color: gray;
}
.list-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  width: 30%;
  height: 200px;
  background-color: #ffd700;
  margin-bottom: 40px;
}

.box-item:nth-child(1) {
  background-color: #ff8c00;
}

.box-item:nth-child(2) {
  margin: 0 5%;
}
.box-item:nth-child(5) {
  margin: 0 5%;
  background-color: #ff8c00;
}
.box-item:nth-child(8) {
  margin: 0 5%;
}

.box-item:nth-child(9) {
  background-color: #ff8c00;
}