* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*color: #6c6b6b;*/
}


.list {
  width: 960px;
  margin: 50px auto;
  list-style: none;
}

.list-item {
  padding: 20px;
  color: gray;
}
.list-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.box {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.box-item {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
}

.box-item:nth-child(1) {
  background-color: orange;
}

.box-item:nth-child(2) {
  margin: 0 5%;
}
.box-item:nth-child(5) {
  margin: 0 5%;
  background-color: orange;
}
.box-item:nth-child(8) {
  margin: 0 5%;
}

.box-item:nth-child(9) {
  background-color: orange;
}